.sidenav-container {
  height: 100%;
  background: var(--th-background) !important;
}

.sidenav {
  width: 80%
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 15;
}

.hidden {
  display: none;
}

mat-toolbar a.mat-button {
  color: rgb(223, 223, 223);
}

mat-toolbar a:hover,
a:active {
  color: rgb(255, 255, 255);
}

mat-nav-list a:hover,
a:active {
  color: black;
}

/* .icon {
  height: 30px;
  margin-right: 5px;
  vertical-align: middle; */
/* display: inline-block; */
/* padding-right: 10px; */
/* text-align: center; */
/* width: 15%; */
/* } */

/* .label {

  line-height: 30px;
  font-size: 15px; */
/* display: inline-block; */
/* margin: 5; */
/* width: 85%; */
/* } */

.icon {
  margin-right: 5px;
  height: 25px;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(5, 64, 119);
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;

}


.spacer {
  flex: 1 1 auto;
}

.toolbar-header {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

img {
  max-height: 30px;
}

