<div class="row">
  <div class="col-xs 12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group"
            [ngClass]="{'has-error': recipeForm.get('name').invalid && recipeForm.get('name').touched}">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [formControlName]="'name'">
            <span class="help-block" *ngIf="recipeForm.get('name').invalid && recipeForm.get('name').touched">Name is
              required</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group"
            [ngClass]="{'has-error': recipeForm.get('imagePath').invalid && recipeForm.get('imagePath').touched}">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" class="form-control" [formControlName]="'imagePath'" #imagePath>
            <span class="help-block"
              *ngIf="recipeForm.get('imagePath').invalid && recipeForm.get('imagePath').touched">Image URL is
              required</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group"
            [ngClass]="{'has-error': recipeForm.get('description').invalid && recipeForm.get('description').touched}">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6" [formControlName]="'description'"
              style="resize: none;"></textarea>
            <span class="help-block"
              *ngIf="recipeForm.get('description').invalid && recipeForm.get('description').touched">Description is
              required</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" [formArrayName]="'ingredients'">

          <div class="row">
            <div class="col-xs-10">
              <button type="button" class="btn btn-success btn-xs" (click)="onAddIngredient()">+</button>
              <label style="font-size: medium;">Ingredients</label>
            </div>
          </div>
          <div class="panel panel-default" style="padding: 10px">
            <div class="row">
              <div class="col-xs-6">
                <label>Name</label>
              </div>
              <div class="col-xs-2">
                <label>Amount</label>
              </div>
              <div class="col-xs-2">
                <label>Unit</label>
              </div>
            </div>

            <div class="row" *ngFor="let ingredientControl of controls; let i=index" [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-xs-6">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class=col-xs-2>
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class=col-xs-2>
                <input type="text" class="form-control" formControlName="unit">
              </div>
              <div class=col-xs-2>
                <button type="button" class="btn btn-danger" (click)="onDelete(i)">X</button>
              </div>
            </div>



          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
          <br><br>
        </div>
      </div>

    </form>
  </div>
</div>
