<div class="row">
  <div class="col-xs-12">
    <mat-selection-list #list>
      <mat-divider></mat-divider>
      <div class="unique-selection-list">
        <mat-list-option class="dark-blue-checkbox" checkboxPosition="before"
          *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)">
          {{ ingredient.name }} ({{ ingredient.amount }} {{ingredient.unit}})
          <mat-icon matListIcon><i class="fas fa-apple-alt"></i></mat-icon>
          <mat-divider></mat-divider>
        </mat-list-option>
      </div>

    </mat-selection-list>
    <br><br><br><br>
    <app-shopping-edit></app-shopping-edit>
    <!-- <hr>
    <ul class="list-group">
      <a class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)"
      >
    {{ ingredient.name }} ({{ ingredient.amount }}<span *ngIf="ingredient.unit!==''"> {{ingredient.unit}}</span>)
    </a>
    </ul> -->

  </div>
</div>
